html, body {
    overflow: hidden;
    height: 100%; 
}

#bodywrapper {
    overflow-y: auto;
    height: 100%;
}

#page {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


/*
#header {
    width: 98%;
}
*/

#navigation {
    display: block;
    position:relative;
    background-color: #121212;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

#tagline {
    display: inline-block;
    font-size: 2em;
    color: white;
    text-align: right;
    vertical-align: top;
    float:right;
    padding-right:20px;
    /*position: absolute;
    right: 20px;
    top: -5px;
    */
	font-family: Gadget, "Arial Black", sans-serif;
}

#navTabs {
    /*max-width: 700px;*/
    height: 50px;
    display: inline-block;
    position: absolute;
    bottom: 1px;
}

#searchIcon {
    display: block;
    height: 13px;
    width: 10px;
    cursor: pointer;
    margin-top: -4px;
}

#searchBar {
    display: block;
    background-color: #888888;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: white;
    overflow: hidden;
}

#search{
    float:left;
    width: 50%;
}

#stats {
    float:right;
    width: 50%;
}

#stats_table{
    margin-right: 2px;
    margin-left: auto;
}

.yellow {
    color: yellow;
}

.green{
    color: green;
}

.red{
    color: red;
}


.right {
    text-align: right;
}

.tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; 
    table-layout: fixed; 
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}


.tabs a {
    padding: 1em .1em 1em .1em;
    background-color: #adadad;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.tabs a.tab_active {
    background-color: #5C5C5C;
}

.tabs a:hover {
    background-color: #dddddd;
}

.tab_item {
    display: table-cell; 
    width: 110px;
}

.b_right {
    border-right: 1px solid black;
}

.tab_link {
    display: block; 
}

.link{
	cursor:pointer;
    color: #cdcdcd;
    text-decoration:underline;
}

.novis{
    visibility:hidden;
}

#errors{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    color: red;
    text-align: center;
}

.errors{
    width: 98%;
    margin 0 auto;
    font-size: 18px;
}

.errors .error{
    display:block;
}

.error{
    color: red;
}

.bold{
    font-weight: bold;
}


/***domain.html***/
.detailTable{
}

.detailTable .historyTable{
    width: 100%;
    margin-bottom: 10px;
}

.detailTable .historyTable table{
    width: 100%;
}

.detailTable .current_details{
    display: table;
    width: 100%;
    margin: 0 auto;
}

.detailTable .current_details .title{
    font-size: 16px;
}

.detailTable .domain_details{
    display: table-cell;
    text-align: left;
}

.detailTable .active_resolution{
    display: table-cell;
    width: 125px;
    text-align: right;
    padding-right: 20px;
}

.domain_quick .qdtable{
    display:inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.domain_quick .qdtable table{
    text-align: left;
}

.changed{
    color: red;
}

#statusDialog{
    display: none;
}

tr td.oldVersion {
    background-color: #fece2f !important;
}


/***pdns.html***/
#noresults{
    text-align: center;
}

#pdns .dnsres tr td {
    color: black;
}

#pdns .dnsres a {
    color: black;
}
