{% extends 'base.html' %}

{% block title %}Advanced Search{% endblock %}

{% block js_constants %}
    <script type="text/javascript">
	  var active_window = 1;
      var domain_url = "{% url 'ajax_domain' %}";
      var advDataTable_url = "{% url 'ajax_advDataTable' %}";
      var query_string = "{{ search_string }}"; 
    </script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/domain_advanced.js"></script>
{%endblock %}


{% block page%}
    <table class = "dnsres">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Registrant</th>
          <th>Email</th>
          <th>Created</th>
          <th>Telephone</th>
          <th>Version</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
	<div id="dialog">
		<span id="dtext"></span>
	</div>

    <div id="statusDialog" title="Working ...">
        <span id="statusText">Data is being fetched from the server ... Please Wait</span>
    </div>
{% endblock %}


