    {% if handler == 'es' %}
    <div id="advdomain" class='search_form'>
    {% if advdomain_form %}
    <form action="{% url 'advdomains' %}" method="POST">
     {% csrf_token %}
        <table id="advdomain_form" class='adv_table1'>
            <tbody>
                <tr>
                    <td>
                        {{ advdomain_form.query}}
                    </td>
                    <td>
                          <input id='adv_submit' type="submit" value="Search"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class='adv_table2'>
            <tbody>
                <tr>
                    <td>
                        <label for="id_fmt">Format:</label>
                    </td>
                    <td>
                        {{ advdomain_form.fmt }}
                    </td>
                    <td>
                        <div class='form_limit novis'>
                            <label for="id_limit">Limit:</label>
                        </div>
                    </td>
                    <td>
                        <div class='form_limit novis'>
                            {{ domain_form.limit }}
                        </div>
                    </td>
                    <td>
                        <div class='form_filter novis'>
                            <label for="id_filt">Filter:</label>
                        </div>
                    </td>
                    <td>
                        <div class='form_filter novis'>
                            {{ domain_form.filt }}
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>
        <table class='adv_table2'>
            <tbody>
                <tr>
                    <td>
                        <label for="id_unique">Unique Domains:</label>
                    </td>
                    <td>
                        {{ advdomain_form.unique }}
                    </td>
                </tr>
            </tbody>
        </table>
     </form>
    {% endif %}
    </div>
    {% endif %}
