{% if handler == 'mongo' %}
<div id="domain" class='search_form'>
{% if domain_form %}
<form action="{% url 'domains' %}" method="POST">
  {% csrf_token %}
    {{ domain_form.non_field_errors }}
    <table id="domain_form">
        <tbody>
            <tr>
                <td>
                    <label for="id_key">Key:</label>
                </td>
                <td>
                    {{ domain_form.key }}
                </td>
                <td>
                    <label for="id_value">Value:</label>
                </td>
                <td>
                    {{ domain_form.value }}

                </td>
                <td>
                    <label for="id_fmt">Format:</label>
                </td>
                <td>
                    {{ domain_form.fmt }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_latest">Latest:</label>
                </td>
                <td>
                    {{ domain_form.latest }}
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <div class='form_filter novis'>
                        <label for="id_filt">Filter:</label>
                    </div>
                </td>
                <td>
                    <div class='form_filter novis'>
                        {{ domain_form.filt }}
                    </div>
                </td>
                <td>
                    <div class='form_limit novis'>
                        <label for="id_limit">Limit:</label>
                    </div>
                </td>
                <td>
                    <div class='form_limit novis'>
                        {{ domain_form.limit }}
                    </div>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                      <input type="submit" value="Search"/>
                </td>
            </tr>
        </tbody>
    </table>    
</form>
    <!--
    <div class='errors'>
        {% for field in domain_form %}
            {% if field.errors %}
                {% for error in field.errors %}
                <span class='error'>
                    {{ error }}
                </span>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    -->
{% endif %}
</div>
{% endif %}
