<div id="navigation">
    <div id="navTabs">
        <ul class="tabs">
            <li class="tab_item b_right">
                <a href="{% url 'index' %}" id='domain_link' class="tab_link">Domains</a>
            </li>
            <li class="tab_item b_right">
                <a href="{% url 'pdns' %}" id='pdns_link' class="tab_link">Passive DNS</a>
            </li>
            <li class="tab_item b_right">
                <a href="{% url 'pdns_r' %}" id='rpdns_link' class="tab_link">Reverse pDNS</a>
            </li>
            {% if handler == 'es' %}
            <li class="tab_item b_right">
                <a href="{% url 'stats' %}" id='stats_link' class="tab_link">Stats</a>
            </li>
            <li class="tab_item b_right">
                <a href="{% url 'help' %}" id='help_link' class="tab_link">Help</a>
            </li>
            {% endif %}
        </ul>
    </div> <!--navTabs -->

    <div id="tagline">
        <span>
            pyDat
        </span>
    </div> <!-- tagline -->

</div> <!-- navigation -->
