<div id = 'pdns'>
    <ul>
        {% comment %} 
        the below template tag filter just orders the for loop
        based on results.sets.type (which is pDNS source name)
        {% endcomment %}
        
        {% for set in results|dictsort:"type" %}
            <li><a href="#tab-{{ set.type }}">{{ set.type }}</a></li>
        {% endfor %}
    </ul>
    
    {% for set in results|dictsort:"type" %}
        <!-- {{ set.name }} -->
        <div id="tab-{{ set.type }}">
            {% with set.name|add:"_"|add:direction|add:".html" as table_template %}
                {% include table_template with results=set %}
            {% endwith %}
        </div>
    {% endfor %}
</div>
