{% extends 'base.html' %}
{% load static %}

{% block title %}pDNS{% endblock %}

{% block js_constants %}
    <script type="text/javascript">
      var active = 'pdns';
    </script>
{% endblock %}

{% block css %}
{% endblock %}

{% if pdns_sources %}
    {% block js %}
        {% for pdns_source in pdns_sources %}
            {% with "/js/"|add:pdns_source.name|add:".js" as pdns_js %}
                <script type="text/javascript" src="{% static pdns_js  %}"></script>
            {% endwith %}
        {% endfor %}
    {% endblock %}

    {% block searchBar %}
        {% include 'pdns_form_dynamic.html' %}
    {% endblock %}
{% endif %}

{% block errors %}
    {% for field in pdns_form_dynamic %}
        {% if field.errors %}
            {% for error in field.errors %}
            <span class='error'>
                {{ error }}
            </span>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if error %}
        <span class='error'>
            {{ error }}
        </span>
    {% else %}
        {% if pdns_sources|length < 1%}
            <span class='error'>
                No PDNS Sources Enabled
            </span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block page %}
{% endblock %}
