<div id = 'pdns'>
    <ul>
        {% comment %} 
        the below template tag filter just orders the for loop
        based on results.sets.type (which is pDNS source name)
        {% endcomment %}
        
        {% for set in results.sets|dictsort:"type" %}
            <li><a href="#tab-{{ set.type }}">{{ set.type }}</a></li>
        {% endfor %}
    </ul>
    
    {% comment %}
    The loop below was altered to use variable supplied templates (from pdns modules) that are
    supplied with the result sets. Basically when a pdns module is called to process a pdns request,
    it will return the results with a supplied template for displaying the results in the pydat interface. The below loop will include that supplied template.
    {% endcomment %}
    
    {% for set in results.sets %}
        {% include set.table_template with results=set %}
    {% endfor %}
</div>
