<div id ="pdnsr" class='search_form'>
{% if pdns_r_form %}
<form action="{% url 'pdns_r_results' %}" method="POST">
  {% csrf_token %}
  {{ pdns_r_form.pretty.as_hidden }}
  {{ pdns_r_form.non_field_errors }}
    <table id = "pdnsr_form">
        <tbody>
            <tr>
                <td>
                    <label for="id_key">Type:</label>
                </td>
                <td>
                    {{ pdns_r_form.key}}
                </td>
                <td>
                    <label for="id_value">Query:</label>
                </td>
                <td>
                    {{ pdns_r_form.value}}
                </td>
                <td>
                    <div class='form_rrtypes novis'>
                        <label for="id_rrtypes">RRTypes:</label>
                    </div>
                </td>
                <td rowspan=2>
                    <div class='form_rrtypes novis'>
                        {{ pdns_r_form.rrtypes }}
                    </div>
                </td>
                <td>
                     {# <label for="id_absolute" title="Exclude subdomains when checked">Absolute:</label>#}
                     &nbsp;
                </td>
                <td>
                    {# {{ pdns_r_form.absolute }} #}
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_fmt">Format:</label>
                </td>
                <td>
                    {{ pdns_r_form.fmt}}
                </td>
                <td>
                    <label for="id_limit">Limit:</label>
                </td>
                <td>
                    {{ pdns_r_form.limit}}
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <div class='form_filter novis'>
                        <label for="id_filter">Filter:</label>
                    </div>
                </td>
                <td>   
                    <div class='form_filter novis'>
                        {{ pdns_r_form.filt }}
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search"/>
                </td>
            </tr>
        </tbody>
    </table> 
</form>
    <div class='errors'>
        {% for field in pdns_r_form %}
            {% if field.errors %}
                {% for error in field.errors %}
                <span class='error'>
                    {{ error }}
                </span>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
</div>
