debug: true
debug_level: 3
ignore_field_prefixes:
  - zoneContact
  - billingContact
  - technicalContact
pipelines: 4
comment: dev env
verbose: false
es:
  uri:
    - localhost:9200
  user: test
  password: test_pass
  index_prefix: test_pydat